/* CSS Document */
.wrapper {
  width: 800px;
  margin: 0 auto; }

.transformers,
.transitions,
.animations {
  border: 1px solid #999;
  margin: 20px 0;
  padding: 0 0; }

.box {
  width: 200px;
  height: 200px; }

.b1 {
  background-color: #0074D9;
  /*blue*/ }

.b2 {
  background-color: #FF851B;
  /*orange*/ }

.b3 {
  background-color: #01FF70;
  /*green*/ }

.b4 {
  background-color: #B10DC9;
  /*purple*/ }

.b5 {
  background-color: #7FDBFF;
  /*light blue*/ }
